:host {
  display: block;
  min-height: 100vh;
}

.app-container {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
}

@media (max-width: 575.98px) {
  .app-container {
    overflow-x: clip;
  }
}
